## setup default
* text=auto

## do not convert line endings in shell scripts in docker path
## those are not meant to be run in windows (and will error inside the container with CRLF)
/docker/**/*.sh text eol=lf
/update_examples.sh text eol=lf

## ignore dev files on export
/.run           export-ignore
/docker         export-ignore
/tests          export-ignore
/phpunit.xml    export-ignore
/psalm.xml      export-ignore
/phpstan.neon   export-ignore
/psalm-check.php    export-ignore
/phpstan-check.php  export-ignore
/update_examples.sh export-ignore
